{% extends 'sanalberto/base.html' %}
{% load markdown_deux_tags %}
{% load users_tags %}

{% block content %}
    <style type="text/css">
        .row img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        @media screen and (max-width: 736px) {
            .row img {
                margin-bottom: 1.5rem;
            }
        }
    </style>

    <div class="split">
        <div>
            <h3>{{ object.title }}</h3>
            <h4>{{ object.start | date:'j M Y H:i' }} a {{ object.end | date:'j M Y H:i' }}</h4>
        </div>

        <a class="button small alt" href="{% url 'sanalberto:activities_index' %}">Volver a la lista</a>
    </div>

    <div class="box wrapper style3">
        <div class="row">
            <div class="6u 12u(small)">
                <h4>Descripción</h4>

                <div>{{ object.description | markdown }}</div>
            </div>

            <div class="6u 12u(small)">
                <h4>Organización {% if object.club %}({{ object.club.name }}){% endif %}</h4>

                <ul class="alt">
                    {% for organiser in object.get_organisers %}
                        <li>
                            <span>{{ organiser | nice_name }}</span>
                            {% if organiser.telegram_id %}
                                <span>- <span class="icon fa-send"></span> @{{ organiser.telegram_user }}</span>
                            {% endif %}</li>
                    {% empty %}
                        <li>No hay organizadores registrados.</li>
                    {% endfor %}
                </ul>

                <h4>Documentos</h4>

                <ul class="alt" style="margin: 0;">
                    {% for doc in object.documents.all %}
                        <li>{{ doc.name }}: <a href="{{ doc.file.url }}" target="_blank">{{ doc.file.name }}</a></li>
                    {% empty %}
                        <li>No hay documentos para mostrar.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if object.image_1 or object.image_2 %}
            <div class="row" style="margin-top: 1.5rem;">
                {% if object.image_1 %}
                    <div class="12u{% if object.image_2 %}(small) 6u{% endif %}">
                        <img src="{{ object.image_1.url }}" alt="{{ object.title }}" />
                    </div>
                {% endif %}

                {% if object.image_2 %}
                    <div class="12u{% if object.image_1 %}$(small) 6u{% endif %}$">
                        <img src="{{ object.image_2.url }}" alt="{{ object.title }}" />
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
