{% extends 'sanalberto/base.html' %}
{% load users_tags %}

{% block content %}
    <div class="box wrapper style3 split" style="align-items: center;">
        <p style="margin: 0;">¿Te has inscrito en alguna actividad ya?</p>

        <a href="{% url 'sanalberto:registration_list' %}" class="button alt">Ver mis inscripciones</a>
    </div>

    <hr />

    {% for activity in activities %}
        <div class="box wrapper style3">
            <div class="split">
                <div>
                    <h3><a href="{% url 'sanalberto:activity_detail' activity.id %}">{{ activity.title }}</a></h3>
                    <h4>{{ activity.start | date:'j M Y H:i' }} a {{ activity.end | date:'j M Y H:i' }}</h4>
                </div>

                <a class="button small alt" href="{% url 'sanalberto:activity_detail' activity.id %}">Ver actividad</a>
            </div>

            {% if activity.club or activity.organiser %}
                <p>Organiza: <b>{% if activity.club %}{{ activity.club.name }}{% else %}{{ activity.organiser | nice_name }}{% endif %}</b></p>
            {% endif %}
        </div>
    {% empty %}
        <div class="box wrapper style1">
            <p><b>Estamos terminando de preparar las actividades. En breves tendrás aquí disponibles los horarios.</b></p>
        </div>
    {% endfor %}
{% endblock content %}
