{% extends 'sanalberto/base.html' %}

{% block content %}
    <div class="split">
        <h3>Inscripción para {{ object.activity.title }}</h3>

        <a class="button small alt" href="{% url 'sanalberto:activity_detail' object.activity.id %}">Volver a la actividad</a>
    </div>

    {% if object.payment_error %}
        <div class="box wrapper style1">
            <h4>¡Ha ocurrido un error con esta inscripción!</h4>

            <h5>Contacta con nosotros indicando este ID: R-{{ object.id }}</h5>
        </div>
    {% endif %}

    <div class="box wrapper style3">
        <div class="split">
            <h5>Tus comentarios</h5>

            <a href="{% url 'sanalberto:registration_edit' object.id %}">Editar</a>
        </div>

        {% if object.comments %}
            <pre>{{ object.comments }}</pre>
        {% else %}
            <p>Sin comentarios</p>
        {% endif %}
    </div>

    {% if not object.is_paid %}
        <p>Para finalizar la inscripción debes abonar <b>{% widthratio object.activity.registration_price 100 1 %}€</b> mediante la plataforma segura de pagos Stripe. Si ya habías comenzado una sesión de pago, se creará una nueva sesión y la anterior se cancelará.</p>

        <form action="{% url 'sanalberto:registration_pay' object.id %}" method="post">
            {% csrf_token %}

            <button class="button special" type="submit">Pagar en Stripe</button>
        </form>

        {% if old %}
            <div class="box wrapper style1">
                <p>¿Has pagado ya pero la inscripción sigue apareciendo como no pagada? Haz click en este botón, si el pago se procesó correctamente, se actualizará la inscripción; si no, te redirigiremos a la web de Stripe para completar el proceso de pago.</p>

                <form action="{% url 'sanalberto:registration_pay' object.id %}" method="post">
                    {% csrf_token %}

                    <button class="button alt" type="submit">Comprobar pago</button>
                </form>
            </div>
        {% endif %}
    {% else %}
        <div class="box wrapper style3">
            <h4>¡Inscripción completada!</h4>

            <p>Se ha confirmado el pago de tu inscripción. No olvides que la actividad comienza el {{ object.activity.start | date:'j M Y H:i' }}.</p>
        </div>
    {% endif %}
{% endblock content %}
