{% extends 'sanalberto/base.html' %}
{% load users_tags %}

{% block content %}
  <div class="split">
    <h2>{{ poll.title }}</h2>

    {% if perms.sanalberto.view_poll and perms.sanalberto.view_pollvote %}
      <a class="button alt" href="{% url 'sanalberto:poll_admin' poll.slug %}">Administración</a>
    {% endif %}
  </div>

  {% if poll.register_enabled %}
    <div class="box wrapper style3 split alert">
      <p>¡El registro de diseños está abierto hasta el {{ poll.register_end | date:'j M Y \a \l\a\s H:i' }}!</p>

      <a class="button special" href="{% url 'sanalberto:design_create' poll.slug %}">Presentar diseño</a>
    </div>
  {% elif poll.register_start > now %}
    <div class="box wrapper style3 alert">
      <p>El registro de diseños se abrirá el {{ poll.register_start | date:'j M Y \a \l\a\s H:i' }}.</p>
    </div>
  {% endif %}

  {% if my_vote %}
    <div class="box wrapper style3 alert">
      <div class="split">
        <h4>Mi voto</h4>

        <p>¡El periodo de votación está abierto hasta el {{ poll.voting_end | date:'j M Y \a \l\a\s H:i' }}!</p>
      </div>

      <div class="split">
        <ol style="margin-bottom: 0;">
          <li>Primera opción: <b>{{ my_vote.first.title }}</b></li>

          {% if my_vote.second %}
            <li>Segunda opción: <b>{{ my_vote.second.title }}</b></li>
          {% endif %}

          {% if my_vote.third %}
            <li>Tercera opción: <b>{{ my_vote.third.title }}</b></li>
          {% endif %}
        </ol>

        <a class="button special" href="{% url 'sanalberto:poll_vote' poll.slug %}">Cambiar voto</a>
      </div>
    </div>
  {% elif poll.voting_enabled %}
    <div class="box wrapper style3 split alert">
      <p>¡El periodo de votación está abierto hasta el {{ poll.voting_end | date:'j M Y \a \l\a\s H:i' }}!</p>

      <a class="button special" href="{% url 'sanalberto:poll_vote' poll.slug %}">¡Votar!</a>
    </div>
  {% elif poll.voting_start > now %}
    <div class="box wrapper style3 alert">
      <p>El periodo de votación se abrirá el {{ poll.voting_start | date:'j M Y \a \l\a\s H:i' }}.</p>
    </div>
  {% endif %}

  {% if poll.voting_end < now %}
    <div class="box wrapper style1">
      {% if poll.winner %}
        <h2 style="text-align: center;">Diseño ganador</h2>

        <div class="design winner">
          <a class="image square"
            style="background-image: url('{{ poll.winner.image.url }}');"
            href="{{ poll.winner.image.url }}"
            target="_blank"></a>

          <h4>{{ poll.winner.title }}</h4>

          <h4>Por: {{ poll.winner.user | nice_name }}</h4>
        </div>
      {% else %}
        <h5>¡El ganador se anunciará próximamente!</h5>
      {% endif %}
    </div>
  {% endif %}

  {% if my_designs %}
    <h3 style="margin: 0;">Mis diseños</h3>

    <p style="margin-bottom: 1em;"><b>Recuerda:</b> Los diseños nuevos aparecerán en la lista una vez sean revisados y aprobados por la comisión.</p>

    <div class="designs my-designs">
      {% for design in my_designs %}
        <div class="item">
          <div class="design">
            <div class="image square" style="background-image: url('{{ design.image.url }}');"></div>

            <h4>{{ design.title }}</h4>

            {% if not design.is_approved %}
              <p>(Pendiente de aprobación)</p>
            {% else %}
              <p>(Aprobado)</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <hr />
  {% endif %}

  <h3>Diseños</h3>

  <div class="designs">
    {% for design in approved_designs %}
      <div class="item">
        <div class="design">
          <a class="image square"
             style="background-image: url('{{ design.image.url }}');"
             href="{{ design.image.url }}"
             target="_blank"></a>

          <h4>{{ design.title }}</h4>

          {% if poll.voting_enabled %}
            {% if my_vote and design == my_vote.first %}
              <h5>Has votado: primera opción 🥇</h5>
            {% elif my_vote and design == my_vote.second %}
              <h5>Has votado: segunda opción 🥈</h5>
            {% elif my_vote and design == my_vote.third %}
              <h5>Has votado: tercera opción 🥉</h5>
            {% else %}
              <a href="{% url 'sanalberto:poll_vote' poll.slug %}?selected={{ design.id }}"
                 class="button special">¡Votar!</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="box wrapper style1">
        <p><b>Aún no se han registrado diseños.</b></p>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
