Django~=2.1.7
django-cleanup==4.0.0
django-environ~=0.4.5
django-markdown-deux~=1.0.5
django-meta~=1.5.2
django-pagedown~=1.0.6
markdown2~=2.3.7
Pillow~=8.2.0
psycopg2-binary~=2.8.3
python-telegram-bot~=12.5.1
pytz~=2018.9
requests~=2.25.1
schedule>=0.6.0
stripe==2.55.0
uWSGI~=2.0.18
