{% extends 'houses/base.html' %}

{% block content %}
  <div class="houses-navbar">
    <div class="left"></div>

    <h1>Las Casas de la FIUM</h1>

    <div class="right">
      {% if profile %}
        <a class="button alt" href="{% url 'houses:profile' profile.id %}">Mi Perfil</a>
      {% else %}
        <a class="button alt" href="{% url 'houses:selector' %}">Crear Perfil</a>
      {% endif %}
    </div>
  </div>

  <div class="row {% if best_house %}has-best-house{% endif %}">
    {% for house in house_list %}
      <div class="3u 6u(small) 12u(xsmall) {% if house == best_house %}best-house{% endif %}">
        {% if house == best_house %}
          <h1>
            <i class="fas fa-crown"></i>
          </h1>
        {% endif %}

        <div class="houses-card">
          <div class="house-logo">
            <div style="background-image: url({{ house.logo.url }});"></div>
          </div>

          <h2>{{ house.name }}</h2>

          <h4>Puntos: {{ house.points }}</h4>

          {% if user.is_authenticated and house.managers.all %}
            <hr />

            <div style="text-align: left;">
              <h5>Gestores</h5>

              {% for manager in house.managers.all %}
                <p>
                  <span>{{ manager.display_name }}</span>
                  {% if manager.telegram_id %}
                    <span>
                      (<a href="https://t.me/{{ manager.telegram_user }}" target="_blank">@{{ manager.telegram_user }}</a>)
                    </span>
                  {% endif %}
                </p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>No hay casas para mostrar...</p>
    {% endfor %}
  </div>
{% endblock content %}
