{% extends 'generic.html' %}

{% load users_tags %}

{% block content %}
    <header class="major special">
        <h1>La Delegación</h1>
    </header>

    {% for group in groups %}
        <h3>{{ group.name }}</h3>

        <div class="row">
            {% for member in group.peoplegroupmember_set.all %}
                <div
                    class="3u{% cycle '' '' '' '$' %} 6u{% cycle '' '$' %}(medium) 12u$(xsmall)"
                    style="text-align: center;">

                    <img
                        style="border-radius: 100%;"
                        src="{{ member.user | gravatar }}"
                        alt="{{ member.name }}" />

                    <h4 style="margin-bottom: 0.2em;">{{ member.name }}</h4>

                    {% if member.title %}
                        <p style="margin-bottom: 0.2em;opacity: 0.8;">{{ member.title }}</p>
                    {% endif %}

                    {% if member.user.telegram_id %}
                        <p style="opacity: 0.8;"><i class="fa fa-send"></i> @{{ member.user.telegram_user }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <h3>Cómo contactar con nosotros</h3>

    <p style="margin-bottom: 1rem;">E-mail: <a href="mailto:dafi@um.es" target="_blank">dafi@um.es</a></p>
    <p style="margin-bottom: 1rem;">Teléfono: <a href="tel:+34868884831" target="_blank">+34 868 88 48 31</a></p>
    <p>Telegram: <a href="https://t.me/dafi_um" target="_blank">@dafi_um</a></p>

    <h3>Comisiones de La Delegación</h3>

    {% for committee in committees %}
        <div class="box wrapper style3">
            <div class="split">
                <h4>{{ committee.name }}</h4>

                <p style="margin-bottom: 1em;">Responsable: {{ committee.manager.get_full_name }}{% if committee.manager.telegram_id %} - <i class="fa fa-send"></i> @{{ committee.manager.telegram_user }}{% endif %}</p>
            </div>

            <p style="margin-bottom: 0;">{{ committee.description }}</p>
        </div>
    {% empty %}
        <p>No hay comisiones para mostrar...</p>
    {% endfor %}
{% endblock content %}
