{% extends 'generic.html' %}

{% block content %}
    <header class="major special split" style="margin-bottom: 2em;">
        <h1>Asambleas de Alumnos</h1>

        {% if perms.heart.add_meeting %}
            <a class="button alt" href="{% url 'heart:meetings_create' %}" title="Crear Asamblea">Crear Asamblea</a>
        {% endif %}
    </header>

    <ul class="alt">
        {% for meeting in meeting_list %}
            <li class="split">
                <div>
                    <h4 style="margin-bottom: 0;">{{ meeting.date | date:'j \d\e F \d\e Y H:i' }}</h4>

                    {% if meeting.call %}
                        <span><a href="{{ meeting.call.url }}" title="Convocatoria {{ meeting }}">Convocatoria</a></span>
                    {% endif %}

                    {% if meeting.minutes %}
                        <span>- <a href="{{ meeting.minutes.url }}" title="Acta {{ meeting }}">Acta</a></span>
                    {% endif %}
                </div>

                <div>
                    {% if perms.heart.change_meeting %}
                        <a class="button alt small" href="{% url 'heart:meetings_update' meeting.id %}" title="Editar Asamblea">Editar</a>
                    {% endif %}

                    {% if perms.heart.delete_meeting %}
                        <a class="button alt small" href="{% url 'heart:meetings_delete' meeting.id %}" title="Eliminar Asamblea">Eliminar</a>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li>No hay asambleas para mostrar...</li>
        {% endfor %}
    </ul>
{% endblock content %}
