{% extends 'generic.html' %}

{% block content %}
    <header class="major special split">
        <div>
            <h1>{{ view.title }}</h1>

            {% if object.date %}
                <p>Fecha: {{ object.date | date:'j \d\e F \d\e Y H:i' }} - <a href="{% url 'heart:meetings_detail' object.id %}" title="Ver detalles">Ver detalles</a></p>
            {% endif %}
        </div>

        <div>
            {% if object.id %}
                <a class="button alt" href="{% url 'heart:meetings_delete' object.id %}" title="Eliminar asamblea">Eliminar</a>
            {% endif %}

            <a class="button alt" href="{% url 'heart:meetings' %}" title="Volver a la lista">Volver a la lista</a>
        </div>
    </header>

    {{ form.non_field_errors }}

    <form enctype="multipart/form-data" method="post">
        <p>
            {{ form.date.errors }}
            {{ form.date.label_tag }}
            {{ form.date }}
            <span class="helptext">Formato: DD/MM/YYYY HH:mm</span>
        </p>

        <h3>Archivos</h3>

        <div class="row">
            <div class="6u 12u$(small)">
                <p>
                    {{ form.call.errors }}
                    {{ form.call.label_tag }}
                    {{ form.call }}
                </p>
            </div>

            <div class="6u$ 12u$(small)">
                <p>
                    {{ form.minutes.errors }}
                    {{ form.minutes.label_tag }}
                    {{ form.minutes }}
                </p>
            </div>
        </div>

        <div class="row" style="margin-top: 2em;">
            {% for title, name, list in lists %}
                <div class="6u 12u$(small)">
                    <h3>{{ title }}</h3>

                    {% for title_1, title_2, user in users %}
                        {% ifchanged title_1 %}
                            {% if title_1 %}
                                <h4>{{ title_1 }}</h4>
                            {% endif %}
                        {% endifchanged %}

                        {% ifchanged title_2 %}
                            {% if title_2 %}
                                <h5>{{ title_2 }}</h5>
                            {% endif %}
                        {% endifchanged %}

                        <p style="margin: 0;">
                            <input
                                type="checkbox"
                                name="{{ name }}"
                                id="{{ name }}-{{ user.id }}"
                                value="{{ user.id }}"
                                {% if is_creation and user.id in list or user in list %}checked{% endif %} />

                            <label for="{{ name }}-{{ user.id }}">{{ user.get_full_name }}</label>
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        {% csrf_token %}

        <input class="button special" style="margin-top: 2em;" type="submit" value="Guardar" />
    </form>
{% endblock content %}
