{% extends 'generic.html' %}

{% load users_tags %}

{% block content %}
    {% for group in group_list %}
        {% ifchanged group.course %}
            <header class="major special">
                <h1>{{ group.get_course_display }}</h1>
            </header>
        {% endifchanged %}

        {% if group.course == group.GII %}
            {% ifchanged group.year %}
                <h3>Año {{ group.year }}</h3>
            {% endifchanged %}
        {% endif %}

        <div class="box wrapper style3 students-groups">
            <header class="special">
                <h4>{{ group.name }}</h4>
                <p>ID: {{ group.year }}.{{ group.number }}</p>
            </header>

            <div class="delegates">
                {% if group.delegate %}
                    <h6>Delegado</h6>
                    <p>
                        <span>{{ group.delegate | nice_name }}</span>
                        {% if group.delegate.telegram_id %}
                            <span> - <i class="fa fa-send"></i> @{{ group.delegate.telegram_user }}</span>
                        {% endif %}
                    </p>
                {% endif %}

                {% if group.subdelegate %}
                    <h6>Subdelegado</h6>
                    <p>
                        <span>{{ group.subdelegate | nice_name }}</span>
                        {% if group.subdelegate.telegram_id %}
                            <span> - <i class="fa fa-send"></i> @{{ group.subdelegate.telegram_user }}</span>
                        {% endif %}
                    </p>
                {% endif %}
            </div>

            {% comment 'Temporarily hidden' %}
            {% if group.telegram_group_link %}
                <a href="{{ group.telegram_group_link }}" class="button alt" title="Unirse al Grupo de Telegram de {{ group.name }}">Grupo de Telegram</a>
            {% endif %}
            {% endcomment %}
        </div>
    {% endfor %}
{% endblock content %}
