/* Adjustements */

    body {
        background: #1c1c1c;
    }

    #header .submenu-wrapper > .submenu {
        transition: border-color 0.25s ease-in-out, max-height 0.25s ease-in-out;
        border: 1px solid transparent;
    }

        #header .submenu-wrapper:hover > .submenu {
            transition: border-color 0.25s ease-in-out, max-height 0.25s ease-in-out;
            border-color: #fff;
        }

    #main {
        padding-bottom: 4em;
        min-height: calc(100vh - 14.58em);
    }

/* Houses */

    .houses-navbar {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
    }

        .houses-navbar h1 {
            margin: 0;
            text-align: center;
        }

        .houses-navbar .left,
        .houses-navbar .right {
            flex: 1;
        }

        .houses-navbar .right {
            text-align: right;
        }

            .houses-navbar .right a i {
                margin-right: .25em;
            }

        @media screen and (max-width: 480px) {

            .houses-navbar {
                flex-direction: column;
            }

                .houses-navbar .right {
                    order: -1;
                    margin-bottom: 1em;
                }

        }

    .houses-card {
        flex: 1;
        margin-bottom: 1.5em;
        padding: 1em;
        border-radius: .25em;
        border: 1px solid #e5474b;
        background-color: #f0f0f0;
        color: #111111;
        text-align: center;
    }

/* Houses list */

    .house-logo {
        width: 100%;
        max-width: 10em;
        margin: 0 auto 1em;
    }

        .house-logo > div {
            padding-top: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

    .best-house h1 {
        margin: 0;
        text-align: center;
        font-size: 4em;
    }

    .best-house .houses-card {
        box-shadow: 0 0 0 4px #e5474b;
    }

    @media screen and (min-width: 481px) {

        .has-best-house :not(.best-house) .houses-card {
            margin-top: 6em;
        }

    }

/* Houses profiles */

    .houses-profile {
        display: flex;
        justify-content: space-between;
        padding: 1.5em;
    }

        .houses-profile > div:last-child {
            flex-basis: 10em;
        }

        .houses-profile > div:not(:first-child) {
            z-index: 1; /* To be over the background (first div) */
        }

        .houses-profile-image {
            width: 150px; /* From the Gravatar filter */
            border-radius: 100%;
        }

        .houses-profile-image + h3 {
            margin: 0;
        }

        .houses-profile-info,
        .houses-profile-points {
            text-align: left;
        }

            .houses-profile-info h4,
            .houses-profile-points h4 {
                width: 80%;
                margin-bottom: .5em;
                border-bottom: 2px solid #e5474b;
                font-weight: normal;
            }

        .houses-profile-info {
            flex: 1;
        }

        .houses-profile-house {
            width: 6em;
            margin: .5em auto 1.5em;
        }

        .houses-profile-points p {
            margin: 0;
        }

        @media screen and (max-width: 480px) {

            .houses-profile {
                flex-direction: column;
            }

            .houses-profile-house {
                margin: 1em auto 0;
            }

            .houses-profile-background {
                display: none;
            }

        }

        @media screen and (min-width: 481px) {

            .houses-profile {
                position: relative;
                overflow: hidden;
            }

            .houses-profile-info {
                margin: 0 2em;
            }

            .houses-profile-background {
                position: absolute;
                top: -5%;
                right: -15em;
                width: 35em;
                height: 110%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                filter: blur(1em);
                opacity: .6;
            }

            .houses-profile-points {
                padding: .5em 1em;
                border-radius: .25em;
                background: rgba(240, 240, 240, .6);
            }

        }

/* Selector algorithm */

    .selector-question {
        display: none;
        text-align: left;
    }

    #selector-loading {
        display: none;
        margin-bottom: .5em;
        font-size: 5em;
        color: #e5474b;
    }

    .selector-actions button {
        display: none;
    }

        #selector-prev {
            float: left;
        }

        #selector-next {
            float: right;
        }

        .clearfix {
            clear: both;
        }

    @media screen and (max-width: 480px) {

        .selector-actions button span {
            display: none;
        }

    }

    @media screen and (min-width: 481px) {

        .selector-actions button :first-child {
            margin-right: .5em;
        }

    }
