body {
    background: #1c1c1c;
}

#main {
    padding-bottom: 4rem;
    min-height: calc(100vh - 14.58em);
}

.houses-title {
    margin-bottom: 2rem;
    text-align: center;
}

.house-card {
    flex: 1;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #e5474b;
    background-color: #f0f0f0;
    color: #111111;
    text-align: center;
}
