{% extends 'generic.html' %}
{% load markdown_deux_tags %}
{% load users_tags %}

{% block content %}
    <header class="major special">
        <h1>{{ post.title }}</h1>

        <p>Publicado el {{ post.pub_date | date:'j M Y H:i' }}
            {% if post.author.first_name %} por {{ post.author | nice_name }}{% endif %}
        </p>
    </header>

    {% if post.image %}
        <div class="image fit">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        </div>
    {% endif %}

    <p>{{ post.content | markdown }}</p>
{% endblock content %}
