{% extends 'generic.html' %}

{% block title %}El Blog de DAFI{% endblock title %}

{% block content %}
    <header class="major special">
        <h1>El Blog de DAFI</h1>
        <p>Noticias frescas (a veces)</p>
    </header>

    {% if post_list %}
        <ul class="alt">
        {% for post in post_list %}
            <li><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay posts disponibles.</p>
    {% endif %}
{% endblock content %}
