{% extends 'generic.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ post.title }} - El Blog de DAFI{% endblock title %}

{% block content %}
    <header class="major special">
        <div style="display: flex;justify-content: space-between;">
            <h1>{{ post.title }}</h1>
            <p><a href="{% url 'blog:list' %}" class="button alt" title="Volver al Blog">Volver al Blog</a></p>
        </div>

        <p>This is a subtitle</p>
    </header>

    <p>{{ post.content | markdown }}</p>
{% endblock content %}
