{% extends 'generic.html' %}

{% block title %}El Blog de DAFI{% endblock title %}

{% block content %}
    <header class="major special">
        <h1>El Blog de DAFI</h1>
        <p>Noticias frescas (a veces)</p>
    </header>

    {% for post in post_list %}
        {% if forloop.first %}
            <ul class="alt">
        {% endif %}

        <li><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></li>

        {% if forloop.last %}
            </ul>
        {% endif %}
    {% empty %}
        <p>No hay posts disponibles.</p>
    {% endfor %}
{% endblock content %}
