{% extends 'generic.html' %}

{% block title %}Iniciar Sesión - DAFI{% endblock title %}

{% block content %}
    <h2>Acceder a mi cuenta</h2>

    {% if form.errors %}
        <p>Los datos de acceso no son correctos. Prueba de nuevo.</p>
    {% endif %}

    <form method="post">
        <div class="field half first">
            <label for="{{ form.username.id_for_label }}">Correo Electrónico:</label>
            {{ form.username }}
        </div>

        <div class="field half">
            <label for="{{ form.password.id_for_label }}">Contraseña:</label>
            {{ form.password }}
        </div>

        {% csrf_token %}

        <div style="clear: both;" class="split">
            <button class="button alt" type="submit">Entrar</button>

            <a style="padding-top: 0.7em;" href="{% url 'password_reset' %}">He olvidado mi contraseña</a>
        </div>
    </form>

{% endblock content %}
