{% extends 'generic.html' %}

{% block content %}
    <header class="major special">
        <h1>Restablecer mi contraseña</h1>
    </header>

    {% if validlink %}
        <p>Introduce la nueva contraseña dos veces para verificar que es correcta.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Restablecer</button>
        </form>
    {% else %}
        <p>El enlace que has seguido no es válido, probablemente porque se ha usado antes. Solicita de nuevo un restablecimiento de contraseña.</p>
    {% endif %}
{% endblock content %}
