{% extends 'generic.html' %}
{% load users_tags %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>Mi Perfil</h1>

            <div class="actions">
                <a class="button alt" href="{% url 'password_change' %}" title="Cambiar contraseña">Cambiar contraseña</a>
                {% if user.is_staff %}
                    <a class="button alt" href="/admin/" title="Admin">Admin</a>
                {% endif %}
                <a class="button alt" href="{% url 'logout' %}" title="Cerrar sesión">Cerrar sesión</a>
            </div>
        </div>

        <p>Has iniciado sesión como {{ user | nice_name }}.</p>
    </header>
{% endblock content %}
