{% extends 'generic.html' %}
{% load users_tags %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>Mi Perfil</h1>

            <div class="actions">
                <a class="button alt" href="{% url 'password_change' %}" title="Cambiar contraseña">Cambiar contraseña</a>
                {% if user.is_staff %}
                    <a class="button alt" href="/admin/" title="Admin">Admin</a>
                {% endif %}
                <a class="button alt" href="{% url 'logout' %}" title="Cerrar sesión">Cerrar sesión</a>
            </div>
        </div>

        <p>Has iniciado sesión como {{ user.email }}</p>
    </header>

    {% if success %}
        <div class="box wrapper style3">
            <h5 style="margin-bottom: 0;">¡Todos los cambios se han guardado!</h5>
        </div>
    {% endif %}

    <div class="row">
        <div class="6u 12u(small)">
            <form method="post">
                {{ profile_form.as_p }}

                {% csrf_token %}

                <input class="button alt" type="submit" name="profile_form" value="Guardar perfil" />
            </form>
        </div>

        <div class="6u 12u(small)">
            <form method="post">
                {{ telegram_form.as_p }}

                {% if user.telegram_id %}
                    <p><b>Cuenta vinculada.</b> Si cambias tu usuario de telegram, se desvinculará tu cuenta de DAFI con tu cuenta de Telegram actual.</p>
                {% elif user.telegram_user %}
                    <p><b>Cuenta <u>no</u> vinculada.</b></p>
                {% endif %}

                {% csrf_token %}

                <input class="button alt" type="submit" name="telegram_form" value="Actualizar datos" />

                {% if user.telegram_id %}
                    <input class="button alt" type="submit" name="telegram_unlink" value="Desvincular" />
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}
