{% extends 'generic.html' %}

{% block title %}Los Clubes de DAFI{% endblock title %}

{% block content %}
    <header class="major special">
        <h1>Nuestros Clubes</h1>
    </header>

    {% for club in club_list %}
        {% if forloop.first %}
            <ul class="alt">
        {% endif %}

        <li><a href="{% url 'clubs:detail' club.slug %}">{{ club.name }}</a></li>

        {% if forloop.last %}
            </ul>
        {% endif %}
    {% empty %}
        <p>No hay clubes disponibles.</p>
    {% endfor %}
{% endblock content %}
