{% extends 'generic.html' %}
{% load users_tags %}

{% block title %}{{ club.name }} - Los Clubes de DAFI{% endblock title %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>{{ club.name }}</h1>
            <p>
                {% if is_manager %}
                    <a class="button alt" href="{% url 'clubs:edit' club.slug %}" title="Editar club">Editar</a>
                    <a class="button alt" href="{% url 'clubs:meeting_add' club.slug %}" title="Organizar quedada">Organizar quedada</a>
                {% endif %}
                <a class="button alt" href="{% url 'clubs:list' %}" title="Lista de Clubes">Volver a la lista</a>
            </p>
        </div>

        {% if is_manager %}
            <p>Club ID: {{ club.slug }}</p>
        {% endif %}
    </header>

    <div class="box wrapper style3">
        <div class="row">
            <div class="6u 12u(small)">
                <h4>Sobre nosotros</h4>
                <p>{{ club.description }}</p>
            </div>

            <div class="6u 12u(small)">
                <h4>Responsables</h4>

                <ul class="alt">
                    {% for manager in club.managers.all %}
                        <li>
                            <span>{{ manager | nice_name }}</span>
                            {% if manager.telegram_id %}
                                <span>- <span class="icon fa-send"></span> @{{ manager.telegram_user }}</span>
                            {% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if club.telegram_group_link %}
            <div style="text-align: center;">
                <a class="button alt" href="{{ club.telegram_group_link }}" title="Unirse al Grupo de Telegram">Unirse al Grupo de Telegram</a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="6u 12u(xsmall)">
            <h3>Quedadas</h3>

            <ul id="meetings" class="alt">
                {% for meeting in meetings %}
                    <li>
                        <header>
                            <h5>{{ meeting.title }}</h5>
                            {% if is_manager %}
                                <p>
                                    <a href="{% url 'clubs:meeting_edit' club.slug meeting.id %}">Editar</a>&nbsp;|&nbsp;
                                    <a href="{% url 'clubs:meeting_delete' club.slug meeting.id %}">Eliminar</a>
                                </p>
                            {% endif %}
                        </header>

                        <p>En {{ meeting.place }} el {{ meeting.moment | date:'j/m/Y \a \l\a\s H:i' }}</p>
                    </li>
                {% empty %}
                    <p>No hay quedadas próximamente.</p>
                {% endfor %}
            </ul>
        </div>

        <div class="6u 12u(xsmall)">
            <h3>Miembros</h3>

            <ul>
                {% for member in members %}
                    <li>{{ member | nice_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
