{% extends 'generic.html' %}

{% block title %}{{ club.name }} - Los Clubes de DAFI{% endblock title %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>{{ club.name }}</h1>
            {% if user == club.manager %}
                <p><a class="button alt" href="{% url 'clubs:meetings_add' club.id %}" title="Organizar quedada">Organizar quedada</a></p>
            {% endif %}
        </div>

        {% if club.manager.first_name %}
            <p>Gestor: {{ club.manager.get_full_name }}</p>
        {% endif %}
    </header>

    <p>{{ club.description }}</p>
{% endblock content %}
