{% extends 'generic.html' %}

{% block content %}
    <header class="major special">
        <h1>Nuestros Clubes</h1>
    </header>

    {% for club in club_list %}
        {% if forloop.first %}
            <div class="row clubs">
        {% endif %}

        <div class="3u 4u(small) 12u(xsmall)">
            <a href="{% url 'clubs:detail' club.slug %}">
                <div class="img-container">
                    <div class="img" style="background-image: url({{ club.get_image }});"></div>
                </div>

                <h3>{{ club.name }}</h3>
            </a>
        </div>

        {% if forloop.last %}
            </div>
        {% endif %}
    {% empty %}
        <p>No hay clubes disponibles.</p>
    {% endfor %}
{% endblock content %}
