{% extends 'base.html' %}
{% load static %}

{% block main %}
	<section id="banner">
		<div class="inner">
			<h1>Delegación de Alumnos&nbsp;<br />Facultad de Informática</h1>
			<!--<ul class="actions">
				<li><a href="#" class="button alt">¿Empezamos?</a></li>
			</ul>-->
		</div>
	</section>

    <section id="one">
        <div class="inner">
            <header>
                <h2>¿Quiénes somos?</h2>
            </header>

            <p>Somos la Delegación de Alumnos de la Facultad de Informática, máximo órgano de representación de los alumnos de nuestra Facultad. Nuestro propósito es ayudar al alumnado, respondiendo a las dudas sobre el funcionamiento de la facultad, resolviendo posibles problemas y actuando como intermediarios entre el Equipo Directivo y el alumnado.</p>

            <!--
            <ul class="actions">
                <li><a href="/quienes-somos/" class="button alt">Leer más</a></li>
            </ul>
            -->
        </div>
    </section>

    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Pellentesque adipis</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static 'images/people.jpg' %}" alt="" />
                    </div>
                    <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Morbi interdum mol</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static 'images/people.jpg' %}" alt="" />
                    </div>
                    <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
                </div>
            </article>
        </div>
    </section>

    <section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <span class="icon fa-group"></span>
                    <header>
                        <h3>Representamos...</h3>
                    </header>
                    <p>...a los estudiantes de la Facultad de Informática, dentro de nuestra Universidad y frente a otras instituciones.</p>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-info-circle"></span>
                    <header>
                        <h3>Informamos...</h3>
                    </header>
                    <p>...de los derechos que tienen los estudiantes, de cómo ejercerlos y de cómo luchar por ellos.</p>
                </div>
            </article>
            <article>
            <div class="content">
                    <span class="icon fa-user-md"></span>
                    <header>
                        <h3>Ayudamos...</h3>
                    </header>
                    <p>...con los problemas que surjan a lo largo del curso a todos los estudiantes de la Facultad.</p>
                </div>
            </article>
        </div>
    </section>
{% endblock main %}
