{% load static %}

<!DOCTYPE HTML>
<!--
Introspect by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>{% block title %}DAFI{% endblock title %}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
	<header id="header">
		<div class="inner">
			<a href="{% url 'main:index' %}" class="logo">
				<img src="{% static 'images/logo.png' %}" alt="DAFI" />
			</a>
			<nav id="nav">
				<a href="{% url 'main:index' %}">Inicio</a>
				<a href="{% url 'blog:list' %}">Blog</a>
				<a href="{% url 'main:index' %}">La Delegación</a>
				<a href="{% url 'main:index' %}">Los Estudiantes</a>
			</nav>
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    {% block main %}{% endblock main %}

	<section id="footer">
		<div class="inner">
			<header>
				<h2>Get in Touch</h2>
			</header>
			<form method="post" action="#">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="alt" /></li>
				</ul>
			</form>
			<div class="copyright">
				Diseño: <a href="https://templated.co/">TEMPLATED</a>.
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/skel.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
