{% extends 'generic.html' %}

{% block title %}Eliminar la Respuesta #{{ object.id }}{% endblock title %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>Eliminar la Respuesta Nº {{ object.id }}</h1>
            <a class="button alt" href="{% url 'trading:answer_detail' object.id %}" title="Volver a la respuesta">Volver a la respuesta</a>
        </div>

        <p>Creada el {{ object.creation_date | date:'j M Y H:i' }}</p>
    </header>

    <p>Vas a eliminar esta respuesta nº {{ object.id }} de la oferta de permuta nº {{ object.offer.id }}.</p>

    <form method="post">
        {% csrf_token %}

        <input class="button special" type="submit" value="Eliminar la respuesta">
    </form>

{% endblock content %}
