{% extends 'generic.html' %}
{% load users_tags %}

{% block title %}Gestión de Permutas{% endblock title %}

{% block content %}
    <header class="major special">
        <h1>Gestión de Permutas - Lista de Ofertas</h1>
        {% if period %}
            <p>El periodo de permutas actual ({{ period }}) finaliza el {{ period.end | date:'j/m/Y H:i' }}</p>
        {% else %}
            <p>No hay un periodo de permutas activo.</p>
        {% endif %}
    </header>

    {% for object in tradeoffer_list %}
        <div class="box wrapper style3">
            <div class="split">
                <h3><a href="{% url 'trading:offer_detail' object.id %}">Oferta #{{ object.id }} - {{ object.user | nice_name }}</a></h3>
                <a class="button alt small" href="{% url 'trading:offer_detail' object.id %}">Ver Oferta</a>
            </div>

            <div class="row" style="margin-top: 1.5em;">
                <div class="6u 12u$(xsmall)">
                    <ul>
                        <li>Creación: {{ object.creation_date | date:'j M Y H:i' }}</li>
                        <li>Periodo: {{ object.period }}</li>
                        <li>Visible: {{ object.is_visible | yesno:'Sí,No' }}</li>
                        <li>Completado: {{ object.is_completed | yesno:'Sí,No' }}</li>
                        <li>Respuesta aceptada: {{ object.answer | yesno:'Sí,No' }}</li>
                    </ul>
                </div>

                <div class="6u 12u$(xsmall)">
                    <table>
                        <thead>
                            <th>Curso</th>
                            <th>Grupo actual</th>
                            <th>Grupo buscado</th>
                        </thead>
                        <tbody>
                            {% for line in object.lines.all %}
                                <tr>
                                    <td>{{ line.year }}</td>
                                    <td>{{ line.curr_group }}.{{ line.curr_subgroup }}</td>
                                    <td>{{ line.get_wanted_groups | join:' ó ' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- .row -->

            <h4>Respuestas</h4>

            <ul class="alt">
                {% for answer in object.answers.all %}
                    <li>
                        {% if object.answer == answer %}
                            <b>ACEPTADA</b>
                        {% endif %}

                        <span>Nº {{ answer.id }} de {{ answer.user | nice_name }} ({{ answer.creation_date | date:'j M Y H:i' }}) - <a href="{% url 'trading:answer_detail' answer.id %}" title="Ver respuesta">Ver respuesta</a></span>
                    </li>
                {% empty %}
                    <li>No hay respuestas</li>
                {% endfor %}
            </ul>
        </div><!-- .box -->
    {% empty %}
        <p>No hay ofertas disponibles.</p>
    {% endfor %}

    {% if is_paginated %}
        <p class="center">
            {% for page in paginator.page_range %}
                {% if page == page_obj.number %}
                    <span><b>{{ page_obj.number }}</b></span>
                {% else %}
                    <a href="?page={{ page }}" title="Página {{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock content %}
