{% extends 'generic.html' %}

{% block title %}Eliminar la Oferta de Permuta #{{ object.id }}{% endblock title %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>Eliminar la Oferta de Permuta Nº {{ object.id }}</h1>
            <a class="button alt" href="{% url 'trading:offer_detail' object.id %}" title="Volver a la oferta">Volver a la oferta</a>
        </div>

        <p>Creada el {{ object.creation_date | date:'j M Y H:i' }}</p>
    </header>

    <p>Vas a eliminar esta oferta de permuta. Si hay respuestas pendientes se eliminarán.</p>

    <form method="post">
        {% csrf_token %}

        <input class="button special" type="submit" value="Eliminar la oferta">
    </form>

{% endblock content %}
