{% extends 'generic.html' %}

{% block title %}Ofertas de Permutas{% endblock title %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>Ofertas disponibles de Permutas</h1>
            {% if user.is_authenticated %}
                <a class="button alt" href="{% url 'trading:tradeoffer_create' %}" title="Crear oferta">Crear oferta</a>
            {% endif %}
        </div>
        <p>El uso de esta herramienta está sujeto a <a href="{% url 'trading:conditions' %}" title="Condiciones de uso del sistema de permutas">condiciones</a>. El periodo de permutas actual finaliza el {{ period.end | date:'j/m/Y H:i' }}</p>
    </header>

    {% if tradeoffer_list %}
        {% for object in tradeoffer_list %}
            <div class="box wrapper style3">
                <div class="split">
                    <h3><a href="{% url 'trading:detail' object.id %}">Oferta #{{ object.id }} - {{ object.user.get_full_name }}</a></h3>
                    <a class="button special small" href="{% url 'trading:detail' object.id %}">Ver Oferta</a>
                </div>

                {% include 'trading/tradeoffer.html' %}
            </div>
        {% endfor %}

        {% if is_paginated %}
            <p class="center">
                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <span><b>{{ page_obj.number }}</b></span>
                    {% else %}
                        <a href="?page={{ page }}" title="Página {{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% else %}
        <p>No hay ofertas disponibles.</p>
    {% endif %}
{% endblock content %}
