{% extends 'generic.html' %}
{% load users_tags %}

{% block title %}Oferta de Permuta #{{ object.id }}{% endblock title %}

{% block content %}
    <header class="major special">
        <div class="split">
            <h1>Oferta de Permuta Nº {{ object.id }}</h1>

            <div class="actions">
                {% if user == object.user %}
                    {% if not object.answer %}
                        <a class="button alt" href="{% url 'trading:offer_delete' object.id %}" title="Eliminar oferta">Eliminar oferta</a>
                        <a class="button alt" href="{% url 'trading:offer_edit' object.id %}" title="Editar oferta">Editar oferta</a>
                    {% endif %}
                {% elif not my_answer %}
                    <a class="button special" href="{% url 'trading:answer_create' object.id %}" title="Responder a la oferta">¡Me interesa!</a>
                {% endif %}

                <a class="button alt" href="{% url 'trading:list' %}" title="Volver a la lista">Volver a la lista</a>
            </div>
        </div>

        <p>Creado por {{ object.user | nice_name }} el {{ object.creation_date | date:'j M Y H:i' }}</p>
    </header>

    {% if object.answer %}
        <div class="wrapper box style1 split">
            <h4 style="margin: 0;padding-top: 0.5em;">
                {% if object.user == user %}
                    Has seleccionado la respuesta de {{ object.answer.user | nice_name }}
                {% else %}
                    Tu respuesta ha sido seleccionada
                {% endif %}
            </h4>

            <a class="button alt" href="{% url 'trading:change_process' object.id %}" title="Comenzar proceso">Comenzar proceso</a>
        </div>
    {% elif object.user == user %}
        {% for answer in answers %}
            {% if forloop.first %}
                <div class="wrapper box style1" style="box-shadow: 0 0 10px #444;">
                    <h4>¡Hay respuestas disponibles para esta oferta!</h4>
            {% endif %}

            <p>{{ answer.user | nice_name }} respondió el {{ answer.creation_date | date:'j M Y \a \l\a\s H:i' }} - <a href="{% url 'trading:answer_detail' answer.id %}" title="Ver respuesta">Ver respuesta</a>
            </p>

            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% elif my_answer %}
        <div class="wrapper box style3 split">
            <h4 style="margin: 0;padding-top: 0.5em;">Has respondido a esta oferta</h4>

            <a class="button alt" href="{% url 'trading:answer_detail' my_answer.id %}" title="Ver mi respuesta">Ver mi respuesta</a>
        </div>
    {% endif %}

    {% include 'trading/tradeoffer.html' %}
{% endblock content %}
