<table>
    <thead>
        <tr>
            <th>Curso</th>
            <th>Asignaturas</th>
            <th>Grupo actual</th>
            <th>Grupos buscados</th>
        </tr>
    </thead>

    <tbody>
        {% for line in object.lines.all %}
            <tr>
                {% with line.get_subjects as subjects %}
                    <td>
                        <p>{{ line.year }}</p>
                        {% if subjects|length_is:'10' or line.year == 3 and subjects|length_is:'9' %}
                            <p><b>(Curso completo)</b></p>
                        {% endif %}
                    </td>
                    <td>
                        {% for subject in subjects %}
                            <p>{{ subject.name }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <p>{{ line.curr_group }}.{{ line.curr_subgroup }}</p>
                    </td>
                    <td>
                        {{ line.get_wanted_groups | join:' ó ' }}
                    </td>
                {% endwith %}
            </tr>
        {% endfor %}
    </tbody>
</table>
