<a href="{% url 'main:index' %}" title="DAFI">Inicio</a>
<!-- <a href="{% url 'sanalberto:index' %}" title="San Alberto">San Alberto</a> -->
<a href="/p/super-ciclo-charlas-2021/" title="Super Ciclo Charlas">Super Ciclo Charlas</a>
<a href="{% url 'clubs:list' %}" title="Los Clubes de DAFI">Clubes</a>

<div class="submenu-wrapper">
    <a class="submenu-button">
        <span>La Delegación</span>
        <span><i class="fa fa-chevron-down"></i></span>
    </a>

    <div class="submenu">
        <a href="{% url 'heart:meetings' %}" title="Asambleas de Alumnos">Asambleas</a>
        <a href="{% url 'blog:list' %}" title="El Blog de DAFI">Blog</a>
        <a href="{% url 'heart:docs' %}" title="Documentos Importantes">Documentos</a>
        <a href="{% url 'heart:students' %}" title="Los Estudiantes">Estudiantes</a>
        <a href="{% url 'feedback:list' %}" title="Feedback">Feedback</a>
        <a href="{% url 'heart:about_us' %}" title="Sobre Nosotros">Sobre Nosotros</a>
    </div>
</div>

{% if user.is_authenticated %}
    <div class="submenu-wrapper">
        <a class="submenu-button">
            <span>Hola, {{ user.first_name | default:user.username }}</span>
            <span><i class="fa fa-chevron-down"></i></span>
        </a>

        <div class="submenu">
            {% if user.is_staff %}
                <a href="/admin/" title="Admin">Admin</a>
            {% endif %}

            <a href="{% url 'profile' %}" title="Mi Perfil">Mi Perfil</a>
            <a href="{% url 'logout' %}" title="Cerrar Sesión">Cerrar Sesión</a>
        </div>
    </div>
{% else %}
    <a href="{% url 'login' %}" title="Iniciar Sesión">Iniciar Sesión</a>
{% endif %}
